// Pallet: http://www.colourlovers.com/palette/137885/Grey_Toad
$color-nieddu: #030000;
$color-rotten-wood: #2C2918;
$color-winternight: #3E3F41;
$color-imdur: #F7F7F7;
$color-tarnished-silver: #A19B88;
